<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="registrationName" value="NOT-FOR-RESALE-SINGLE-ENDUSER-ONLY-NO-PRIVATE-SUPPORT-daboskie24@gmail.com" />
    <add key="registrationKey" value="095D-4F07-3862-1271-4783-3603-791" />
  </appSettings>
</configuration>